.headLine {
  height: 1rem;
  line-height: 1rem;
  background-color: #F4483E;
  padding-left: 0.2rem;
}
.headLine > a {
  display: inline-block;
  font: 800 0.3rem simsun;
  width: 27%;
  color: #fff;
}
.headLine > b {
  color: #fff;
  font-size: 0.18rem;
}
.headLine s {
  height: 1rem;
}
.headLine s img {
  width: 60%;
  margin-top: 0.2rem;
}
.title {
  width: 100%;
  overflow: hidden;
  background-color: lightgreen;
}
.title .wrap_ul {
  width: 205%;
}
.title .wrap_ul li {
  margin: 0.2rem;
  float: left;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.13rem;
}
.titleList ul li {
  border: 1px solid  yellow ;
}
.titleList ul li img {
  float: left;
  width: 35%;
}
.titleList ul li .b {
  font: 800 0.15rem "΢���ź�";
}
.titleList ul li i,
.titleList ul li em {
  color: #FC353C;
  font-style: normal;
}
.titleList ul li .bar > em {
  border: 1px solid #FC353C;
  background-color: #FC353C ;
}
.titleList ul li div {
  display: inline-block;
}
