.headLine{
  height: 1rem;
  line-height: 1rem;
  background-color: #F4483E;
  padding-left:0.2rem;
  >a{
    display: inline-block;
    font:800 0.3rem simsun;
    width: 27%;
    color: #fff;
  }
  >b{
    color: #fff;
    font-size: 0.18rem;
  }
  s{
    height: 1rem;
    img{
      width: 60%;
      margin-top: 0.2rem;
    }

  }

}
.title{
  width: 100%;
  overflow: hidden;
  background-color: lightgreen;
  .wrap_ul{
    width: 205%;
    li{
      margin: 0.2rem;
      float: left;
      height: 0.4rem;
      line-height: 0.4rem;
      font-size: 0.13rem;
    }
  }
}
.titleList{
  ul{
    li{

      border: 1px solid  yellow ;
      img{
        float: left;
        width: 35%;
      }
      .b{
        font:800 0.15rem "Î¢ÈíÑÅºÚ";
      }
      i,em{
        color: #FC353C;
        font-style: normal;
      }
      .bar{
        >em{
          border: 1px solid #FC353C;
          background-color:#FC353C ;
        }
      }
      div{
        display: inline-block;
      }
    }
  }
}