.headLine {
  height: 1rem;
  line-height: 1rem;
  background-color: #FF841D;
  padding-left: 0.2rem;
}
.headLine > a {
  display: inline-block;
  font: 800 0.3rem simsun;
  width: 37%;
  color: #fff;
}
.headLine > b {
  color: #fff;
  font-size: 0.17rem;
}
.headLine s {
  height: 1rem;
}
.headLine s img {
  width: 60%;
  margin-top: 0.2rem;
}
.title {
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid lightgoldenrodyellow;
}
.title > span {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
}
.title span:nth-last-of-type(1)::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: red;
  right: -10%;
  top: 20%;
}
.sort {
  z-index: 999;
  width: 330%;
  text-align: left;
  padding-left: 0.2rem;
  background-color: red;
  position: absolute;
}
.prolist {
  display: inline-block;
}
.prolist li {
  float: left;
  width: 50%;
  border: 1px solid #eee;
  padding: 0.3rem;
}
.prolist li a {
  display: inline-block;
}
.prolist li a > img {
  width: 80%;
}
.prolist li a i {
  color: #B7BDCB;
  margin-top: 0.2rem;
  display: inline-block;
}
