.layout {
  width: 100%;
  max-width: 6.4rem;
  min-width: 3.2rem;
  background-color: #EFEFEF;
  margin: 0 auto;
}
.layout .menu {
  text-align: center;
  padding: 0.2rem 0rem;
}
.layout .menu ul li {
  width: 25%;
  float: left;
  padding: 0.1rem;
}
.layout .menu ul li img {
  width: 0.5rem;
}
.layout .hiddle {
  display: none;
}
.layout .product .p_bottom a {
  width: 100%;
  padding: 0.14rem 0.15rem;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
.layout .product .p_bottom a .p_b_img img {
  height: 1rem;
  width: 1rem;
  margin-right: 0.1rem;
}
.layout .product .p_bottom a p {
  font-size: 0.15rem;
}
.layout .product .p_bottom a .p_b_b {
  padding-top: 0.3rem;
  font-size: 0.12rem;
}
.layout .product #more {
  margin: 0.1rem;
  height: 0.4rem;
  font-size: 0.12rem;
  line-height: 0.4rem;
  text-align: center;
  border: 0.2rem solid #ccc;
  border-radius: 0.05rem;
}
.layout .nav {
  padding-top: 0.1rem;
  height: 0.5rem;
  padding-left: 0.2rem;
  background: #FF9309;
  color: #fff;
  margin-bottom: 0.25rem;
}
.layout .nav > span {
  width: 0.3rem;
  height: 0.3rem;
  float: right;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  line-height: 0.3rem;
  text-align: center;
  font: 800 0.25rem simsun ;
  margin-right: 0.2rem;
  margin-top: -0.3rem;
}
